{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}Index{% endblock %}

{% block body_block %}

        {% if user.is_authenticated %}
		<h1>Rango says... hello {{ user.username }}!</h1>
		{% else %}
		<h1>Rango says... hello world!</h1>
		{% endif %}
        
        <h2>Top Five Categories</h2>

        {% if categories %}
            <ul>
			{% for category in categories %}
			    <li><a href="{% url "category" category.slug %}">{{ category.name }}</a></li>
			{% endfor %}
            </ul>
       {% else %}
            <strong>There are no categories present.</strong><br>
       {% endif %}

        <h2>Top Five Pages</h2>

        {% if categories %}
	        {% if pages %}
	            <ul>
	                {% for page in pages %}
	                	<li><a href="{% url 'page' page.slug %}">{{ page.title }}</a></li>
	                {% endfor %}
	            </ul>
	       {% else %}
	            <strong>There are no pages present.</strong><br>
	       {% endif %}
       {% endif %}

{% endblock %}