<!DOCTYPE html>
<html>
    <head>
        <title>Rango - Selected Page</title>
    </head>

    <body>
        <h1>Selected Page</h1>
        {% if pages %}
        <ul>

            <li><a href="{{ page_url }}">{{ page_title }}</a></li>

        </ul>
             
        {% else %}
            <strong>No pages currently in category.</strong><br>
        {% endif %}
        
        {% if user.is_authenticated %}
        	<br>
			<a href="/rango/logout/">Logout</a><br />
        {% else %}
        	<a href="/rango/register/">Register Here</a><br />
			<a href="/rango/login/">Login</a><br>
		{% endif %}
		<br>
		<a href="/rango/">Back to homepage</a>
    
    </body>
</html>